.row.striped.card
  - if manifest
    .col.s12.entry.flow-text
      .col.s4 Gitlab Version
      .col.s8
        = manifest.build_version

  - if uptime
    .col.s12.entry
      .col.s4.aligner style='height:50px;' Uptime 
      .col.s8.aligner
        - uptime.each do |data|
          - if data.include? 'load average'
            - data.split(':').each do |line|
              .col.s4 = line
          - else
            = data

  .col.s12.entry.aligner.padding
    - if cpuinfo
      .bubble
        span.green.bubble-left CPU Count
        span.blue.bubble-right = cpuinfo.count

    - if total_memory
      .bubble
        span.green.bubble-left Total Memory 
        span.blue.bubble-right = total_memory

    - if cpu_speed
      .bubble
        span.green.bubble-left = cpu_speed.first
        span.blue.bubble-right = cpu_speed.last.to_i



  - if uname
    .col.s12.entry
      small = uname
