- if ulimit
  .row
    .card.col.s12.no-padding
      .header
        .flow-text ulimit
      .col.s12.aligner-wrap.padding
        - ulimit.each do |entry|
          .bubble
              span.green.bubble-left = entry.details
              span.blue.bubble-right = entry.value





